<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHARUL ULOOM LAIBRARY</title>
    <link rel="stylesheet" href="/css/books.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <h3>DARUL ULOOM BRANCH LIBRARY CATELOGUE</h3>
    </nav>
    <main>
        <div class="head" id="head" style="height: 70px;"></div>
        <div class="search-box">
            <div class="row">
                <input type="text" id="input-box" placeholder="Search books..."
                autocomplete="off">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div> 
            <div class="result-box"></div>
        </div>
        <!-- <div class="book">
            <div class="number"></div>
            <div class="title"></div>
        </div> -->
       
        <a href="#head"> <div class="up-btn"><i class="fa-solid fa-magnifying-glass"></i></div></i></a>
    </main>
    <script src="/js/books.js"></script>
</body>
</html>