* {
    margin: 0;
    font-family: 'poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: rgb(9,4,99); */
    background: linear-gradient(90deg, rgb(1, 81, 81) 0%, rgb(1, 84, 84) 43%, rgb(1, 74, 74) 100%);
    padding-left: 20px;
    padding-right: 20px;
    min-height: 90vh;
    width: 100%;
    box-sizing: border-box;
}

nav {
    background-color: rgb(1, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    color: aliceblue;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;

}


.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #999;

}
input::placeholder{
    color: rgb(1, 35, 35);
}
button {
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid {
    width: 25px;
    color: rgb(246, 231, 203);
    font-size: 22px;
    cursor: pointer;

}
.search-box{
    width: 100%;
}
.result-box ul{
 border-top: 1px solid #999;
 padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: #999;
    border-bottom: 1px solid rgb(2, 43, 43);
}
.result-box ul li a{
    text-decoration: none;
    color: #999;
}
.result-box ul li:hover{
    background-color: rgb(2, 43, 43) ;
}
/* .result-box {
 max-height: 300px;
 overflow-y: scroll;
} */
.book {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 41, 36, 0.637);
}

.book:hover {
    transform: scale(1.02);
    transition: .5s;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid wheat; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.title {
    display: flex;
    align-items: center;
    border-radius: 40px;
    /* border: 1px solid wheat; */
    width: 90%;
    min-height: 40px;
    color: antiquewhite;
    font-family: 'Baloo Chettan 2', sans-serif;
    font-size: 12px;

}

h4 {
    color: antiquewhite;
}

.up-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(1, 29, 29);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.288);
    position: fixed;
    bottom: 25px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    opacity: .6;
}
.highlight {
    color: red;
    font-weight: bolder;
}
@keyframes slowBlink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blinking-slow {
    animation: slowBlink 1s infinite;
    background-color: rgb(2, 43, 43);
    color: #000;
    
  }
  
/* @font-face {
    font-family: 'CustomMalayalamFont';
    src: url('custom-font.ttf') format('truetype');
} */